<section id="section-batch-keywords">
  <div class="page-header">
    <h1>
      Batch keyword extraction
      <small>/batch/keywords</small>
    </h1>
  </div>

  <p>Extracts keywords from a list of documents. Can be used to extract data from a larger number of documents with one request.</p>

  <p>Send a POST request with an array of document data. The document data is the same as in basic keyword extraction: you have to specify one of the <a href="#table-input-source-options">input source options</a> and you can use <a href="#table-input-preprocessing-options">input preprocessing options</a> and <a href="#table-corpus-selection-options">corpus selection options</a>.</p>

  <p>Since you use a POST request you need to specifiy HTTP header <em>Content-Type</em>.</p>
  
  <table class="table">
    <caption>Service options</caption>
    <thead>
      <tr>
        <th class="span2">Option</th>
        <th class="span2">Default value</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>documents</td>
        <td><em>none</em></td>
        <td>
          <p>Array of documents for extraction.</p>
        </td>
      </tr>
      <tr>
        <td>callback_url</td>
        <td><em>none</em></td>
        <td>
          <p>Optional parameter. The service sends a GET request to this URL when the processing of the batch request is done.</p>
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    The service responds with a HTTP status code 202 and a Location header with a URL here the result can be retrieved using a GET request. The body of the response is composed of the same data.
  </p>
  <p>
    Calling the result URL will return either:
  </p>
  <ul>
    <li>the status of the extraction if it is not yet done,</li>
    <li>an array containing the extraction results if it is completed.</li>
  </ul>

  <h4>Sample usage</h4>

  <% uid = BatchKeywordRequest.first.uid if BatchKeywordRequest.first.present? %>

  <p class="well well-small">
    Make a batch request to extract keywords from a few wikipedia articles.
    <br>
    POST request to <%= example_link_to batch_keywords_url(format: :json) %> with the following data:
  </p>
  <pre>
{
  "callback_url": "http://example.com",
  "documents": [
    {"language": "en", "url": "http://en.wikipedia.org/wiki/The_New_York_Times"},
    {"language": "en", "category": "Sports", "url": "http://en.wikipedia.org/wiki/American_football"},
    {"language": "en", "url": "http://en.wikipedia.org/wiki/Cold_War"},
    {"language": "en", "url": "htttp://en.wikipedia.org/wiki/Cold_War"}
  ]
}
  </pre>
  <p class="well well-small">
    This request yields the following response:
  </p>
  <pre>
HTTP 202
Location: http://metallurgy.fiit.stuba.sk/batch/keywords.json?uid=<%= uid %>

{
    "success": true,
    "uid": "0fabfe34",
    "result_url": "batch_keywords_result_url(format: :json, uid: uid)"
}
  </pre>
  <p class="well well-small">
    Requesting the result URL can return either the extraction status, such as:
  </p>
  <pre>
{
    "success": false,
    "uid": "<%= uid %>",
    "documents_requested": 4,
    "documents_done": 1
}
  </pre>
  <p class="well well-small">
    Or, if the extraction has successfully finished:<br />
    <%= link_to batch_keywords_result_url(format: :json, uid: uid), batch_keywords_result_url(format: :json, uid: uid) %>
  </p>
</section>
