<section id="readability">
	<div class="page-header">
	  <h1>
	  	Content extraction
	  </h1>
	</div>

	<b>GET /content.json</b>

	<ul>
		<li><b>url</b> Url of file to be downloaded.</li>
	</ul>

	<p>Returns extracted content.</p>

	<b>POST /content.json</b>

	<ul>
		<li><b>source</b> Data to be used.</li>
	</ul>

	<b>Examples</b>

	<p>
		Download and extract content from sme.sk article.
		<br>
		<%= example_link_to content_url(url: 'http://nitra.sme.sk/c/6588534/najstarsiu-rotundu-v-strednej-europe-uvidi-verejnost.html', format: :json) %>
	</p>
</section>

