<section id="section-content">
	<div class="page-header">
	  <h1>
	  	Content extraction
		<small>/content</small>
	  </h1>
	</div>

	<p>Does nothing except returning content after input source preprocessing. Can be used for HTML content part extraction or to strip HTML tags. This service can be also used to debug input content for other services. </p>

	<p class="well well-small">
		Download and extract content from sme.sk article.
		<br>
		<%= example_link_to content_url(url: 'http://nitra.sme.sk/c/6588534/najstarsiu-rotundu-v-strednej-europe-uvidi-verejnost.html', format: :json) %>
	</p>
</section>

