<section id="introduction">
	<div class="page-header">
	  <h1>
	  	Introduction
	  </h1>
	</div>

	<p>
		Text metadata extraction service from URLs or text content. Metall wraps and unifies several metadata-related webservices and libraries.
	</p>
</section>

