<section id="section-keywords">
	<div class="page-header">
	  <h1>
	  	Keyword extraction
      <small>/keywords</small>
	  </h1>
	</div>

  <p>Extracts keywords sorted by TF/IDF rating.</p>

  <table class="table">
    <caption>Service options</caption>
    <thead>
      <tr>
        <th class="span2">Option</th>
        <th class="span2">Default value</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>limit</td>
        <td><em>10</em></td>
        <td>
          <p>Maximum number of keywords returned. </p>
        </td>
      </tr>
    </tbody>
  </table>

  	<p class="well well-small">
  		Download and extract keywords from Techcrunch article.
  		<br>
  		<%= example_link_to keywords_url(url: 'http://techcrunch.com/2012/11/09/can-social-media-influence-really-be-measured/', format: :json) %>
  	</p>
</section>

